body {
    background-color: rgb(52, 35, 97);
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 250px;
    margin-left: 35%;
    margin-right: auto;
    padding: 15px;
    background-color: white;
}

.label {
    margin: 5px;
}

#binary_label {
    flex-grow: 0;
}

#binary_input {
    position: relative;
    margin-left: 5px;
}

#decimal_label {
    flex-grow: 1;
    margin-top: 35px;
}

.msg-error {
    padding: 4px;
    border: 1px solid rgb(255, 0, 0);
    border-radius: 15px;
    background-color: rgba(253, 0, 0, 0.397);
}

.decimal-output {
    background-color: rgb(105, 104, 104);
}